---
import MainLayout from "@layouts/main-layout.astro";
import ImgIcon from "@images/icon.jpg"
import { Image } from 'astro:assets';
---

<MainLayout>
  <h1>Hello world!</h1>
  <Image src={ImgIcon} alt="Landing page">
</MainLayout>
