---
import ThemeIcon from "@components/ui/theme-icon.astro";
---

<nav class="sticky inset-0 top-4 z-50 flex flex-row-reverse text-sm">
  <span class="inline-block">
    <ThemeIcon />
  </span>
</nav>
<!--Import the necessary Collapse and Overlay plugins-->
<!--https://preline.co/plugins/html/collapse.html-->
<!--https://preline.co/plugins/html/overlay.html-->
<!-- <script>
  import "@preline/collapse/index.js";
  import "@preline/overlay/index.js";
</script> -->
